#dragon-selection {
  min-height: 300px;

  // Arrows
  .arrow {
    position: absolute;
    top: 40%;
    font-size: 3em;
    transition: 0.3s all;
    z-index: 2;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .left-arrow {
    left: 1em;
  }

  .left-arrow:hover {
    padding-right: 0.25em;
    margin-left: -0.25em;
  }

  .right-arrow {
    right: 1em;
  }

  .right-arrow:hover {
    padding-left: 0.25em;
    margin-right: -0.25em;
  }
}

// Cells
#dragon-selection #cells,
#dragon-selection .cell,
#dragon-selection .scrollable-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#dragon-selection .scrollable-container {
  width: 300%;
  transition: 0.3s all ease-out;
}

#dragon-selection .cell {
  float: left;
  text-align: center;
  width: 33.33%;
}

#dragon-selection .cell button {
  z-index: 3;
  position: absolute;
  margin: 0 auto;
  bottom: 1em;
}

#dragon-selection #cells {
  overflow: hidden;
}

#dragon-selection .dragon-water {
}

#dragon-selection .dragon-fire {
}

#dragon-selection .dragon-earth {
}
